.header {
  height: 50px;
  background-color: red;
}

.footer {
  height: 50px;
  background-color: blue;
  margin-top: 10px;
}

.products-header {
  display: flex;
  justify-content: space-around;
  padding: 20px 5px 20px 5px;
  background-color: #282c34;
  color: white;
  margin-bottom: 30px;
}

.products-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  border: 1px solid black;
  margin: 0px 20px 0px 20px;
}

.product-informations{
  display: flex;
  flex-direction: column;
}

