.products {
  min-height: 100vh;
}
.products-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5px 20px 5px;
    background-color: #254B59;
    margin-bottom: 30px;
  }
  
  .categorie-name {
    color: white;
  }

  .active {
    color: #254B59;
    background-color: #B4CBD9;
    padding: 5px;
    border-radius: 5px;
  }
  